#update_password_component_user_component_main_row {
  width: 100vw;
}

#update_password_gif_conatiner {
  width: 500px;
}

#lock_icon_in_update_password_component {
  font-size: 38px;
}


.user_module_update_password-criteria-list {
  text-align: left;
  margin: 0;
  padding: 0;

}

.user_module_update_password-criteria-list {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.5;
}



.user_module_update_password-criteria-list .criteria-valid {
  color: green;

}

.user_module_update_password-criteria-list .criteria-invalid {
  color: red;

}

#submit_button_update_password {
  background-color: #25235c; /* Default background color */
  color: white; /* Text color */
  border: none;
  cursor: pointer;
}

#submit_button_update_password:disabled {
  background-color: #b0b0b0; /* Grey background for disabled state */
  color: #666; /* Grey text color */
  cursor: not-allowed; /* Change cursor to indicate disabled state */
  opacity: 0.6; /* Optional: Make it look slightly faded */
}
